h1 {
  text-align: center;
  font-weight: bold;
  color:white;
  margin-bottom: 5em;
  text-transform: uppercase;
}

table {
  margin: .3em;
  width: 290px;
}

th {
  padding: .2em;
}

td {
  padding-left: .5em;
  padding-right: .5em;
  border: 1px solid #900;
  background-color: rgb(248, 155, 50);
}

#trHeader {
  text-decoration: underline;
  color: #900;
}

.centerCell {
  text-align: center;
}

body{
  background-color: coral;
}

form{
  text-align: center;
}

select{
  width: 15em;
  height:2.5em;
}

input{  
  width: 15em;
  height:2em;
}

label{
  color:white;
  text-transform: uppercase;
}





